# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Sublime Text 2s
/Sublime\ Text\ 2/**/*.cache
/Sublime\ Text\ 2/**/*.last-run
/Sublime\ Text\ 2/**/*.log
/Sublime\ Text\ 2/**/*.sublime_license
/Sublime\ Text\ 2/**/*.sublime_session
/Sublime\ Text\ 2/Backup
/Sublime\ Text\ 2/Settings/SideBarEnhancements.json
